.movie_details_backlink {
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 16px;
  margin: 10px 0 10px 20px;
  padding: 6px 10px;
  width: 120px;
  box-shadow: rgba(77, 47, 209, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  transition: transform 300ms linear;
}

.movie_details_backlink:hover {
  text-shadow: 1px 2px 2px;
  transform: scale(1.03, 1.03);
}

.movie_details_wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px 32px;
}

.movie_maindetails_wrapper {
  display: flex;
  gap: 12px;
}

.movie_img {
  width: 600px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 2px 2px;
}

.movie_infodetails_wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.movie_title {
  font-size: 24px;
  font-weight: 800;
}

.movie_score {
  font-size: 18px;
  font-weight: 600;
  margin-left: 24px;
}

.movie_genres_title {
  font-size: 20px;
  font-weight: 600;
}

.movie_genres {
  font-size: 18px;
  font-weight: 600;
  margin-left: 24px;
  display: flex;
  gap: 18px;
}

.movie_add_info {
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
}

.movie_add_info_list {
  margin-left: 40px;
  display: flex;
  gap: 140px;
}

.movie_add_info_link {
  font-weight: 600;
  display: flex;
  gap: 12px;
  align-items: center;
  font-style: italic;
  padding: 4px 20px;
}

.movie_add_info_svg {
  transform: rotate(-90deg);
  transition: 300ms transform linear;
}

.movie_add_info_svg_open {
  transform: rotate(0deg);
  transform: translateY(7px);
}

.movie_add_info_link:hover {
  text-shadow: 1px 2px 2px;
}

.movie_add_info_link:hover .movie_add_info_svg {
  transform: rotate(0deg);
  transform: translateY(7px);
}

@media (max-width: 768px) {
  .movie_maindetails_wrapper {
    flex-direction: column;
  }
  .movie_img {
    max-width: 80%;
  }
  .movie_genres {
    flex-wrap: wrap;
  }
  .movie_add_info_list {
    margin-left: 24px;
    gap: 24px;
  }
}
