.movie_reviews_list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin: 20px 32px;
}

.movie_reviews_item {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 12px;
  border-radius: 8px;
  max-height: 160px;
  overflow-y: scroll;
}

.movie_reviews_item:nth-child(2n) {
  margin-right: 32px;
}

.movie_reviews_item:nth-child(2n + 1) {
  margin-left: 32px;
}

.movie_reviews_title {
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  margin-left: 12px;
}

.movie_reviews_title_svg {
  margin-right: 12px;
}
