.navigation {
  background: radial-gradient(
    circle,
    rgba(142, 214, 214, 0.7987570028011204) 15%,
    rgba(9, 17, 126, 1) 88%,
    rgba(2, 0, 36, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  display: flex;
  gap: 28px;
  padding: 10px 30px 10px 60px;
}

.navigation_link {
  font-weight: 500;
  font-size: 30px;
}

.navigation_link:hover {
  text-shadow: 1px 2px 2px;
}

.active {
  color: chocolate;
}

@media (max-width: 768px) and (min-width: 368px) {
  .navigation {
    gap: 12px;
    padding: 12px 12px 12px 32px;
  }
}
@media (max-width: 367px) {
  .navigation {
    padding: 12px;
    gap: 0px;
    justify-content: space-around;
  }
  .navigation_link {
    font-weight: 400;
    font-size: 26px;
  }
}
