.about_page_title_wrapper {
  margin-bottom: -132px;
  padding: 24px;
}
.about_page_title {
  font-size: 24px;
  font-weight: 600;
}
.about_page_text {
  padding-bottom: 24px;
}
.about_page_wrapper {
  padding-top: 84px;
}
