.movie_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  margin-left: 100px;
  padding-top: 80px;
  padding-bottom: 80px;
}
.movie_list_item {
  display: flex;
  gap: 10px;
  align-items: center;
  max-width: 280px;
  color: rgb(56, 56, 153);
  font-size: 20px;
}
.movie_list_item_svg {
  flex-shrink: 0;
}
.movie_list_item:hover {
  text-shadow: 1px 2px 2px;
}
