/* .movie_cast_list {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  margin-left: 24px;
  margin-right: 24px;
} */
.movie_cast_list {
  margin-left: 32px;
  margin-right: 32px;
  padding-bottom: 24px;
}

.movie_cast {
  padding: 12px;
  /* margin-bottom: 24px;
  margin-left: 12px; */

  /* margin: 24px; */
}

.movie_cast_img {
  /* width: 160px; */
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 2px 2px;
}
.movie_cast_span {
  font-style: italic;
  font-weight: 600;
}
