.movie_cast_list {
  margin-left: 32px;
  margin-right: 32px;
  padding-bottom: 24px;
}

.movie_cast {
  padding: 12px;
}

.movie_cast_img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 2px 2px;
}

.movie_cast_span {
  font-style: italic;
  font-weight: 600;
}
