.home_page_wrapper {
  height: 120vh;
}

.home_page_title {
  font-weight: 500;
  font-size: 28px;
  padding-top: 24px;
  margin-bottom: -66px;
  margin-left: 60px;
}

@media (max-width: 768px) {
  .home_page_title {
    margin-left: 24px;
    padding-top: 60px;
    margin-bottom: -106px;
  }
}
